.task
{
    width: 100%;
    min-height: 100px;
    background-color: white;
    margin: 5px 0px 10px 0px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

    .task *
    {
        margin: 0;
    }

    .task p
    {
        margin-top: 5px;
        margin-left: 5px;
    }

    .task .title
    {
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
    }

    .task .created_on
    {
        display: inline-block;
    }

    .task .updated_on
    {
        display: inline-block;
        float: right;
    }

h1, h2
{
    margin: 0;
    text-align: center;
}

.add_new textarea
{
    width: 90%;
    margin: 2px;
}

.add_new input
{
    width: 90%;
    margin: 2px;
}

.est_wrap
{
    font-weight: 700;
}

.btn
{
    font-size: 1.1em;
    padding: 4px 22px 4px 20px;
    float: left;
    margin-left: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: lightgreen;
}

.type, .type1
{
    height: 40px;
    width: 100%;
    padding: 0;
}

    .type > li
    {height: 40px;
        width: 30%;
        display: inline-block;
        padding: 0;
        padding-top: 2px;
        padding-left: 3px;
        padding-bottom: 3px;
        margin: 2px;
        font-size: 0.87em;
        color: white;
        border-bottom: solid 1px white;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }

.red_b
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: #1A237E;
}

.type1 .red_b
{
    height: 40px;
    background-color: #1A237E;
}

.type1 > li
{
    width: 32%;
    display: inline-block;
    padding: 0;
    padding-top: 5px;
    font-size:1.05em;
    padding-left: 5px;
    margin: 0;
    
    color: white;
    border-bottom: solid 1px white;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

    .type1 > li:hover
    {
        cursor: pointer;
    }

.type > li:hover
{
    cursor: pointer;
}

.left_menu
{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    height: 550px;
    width: 300px;
    position: fixed;
    top: 50px;
    left: 980px;
    background-color: #90A4AE;
}

.inputs
{
    width: 100%;
    margin: 0;
}

.leftNavIcon
{
    width: 3rem;
    text-align: center;
}

.type i
{
    margin-top: 2px;
    margin-left: 16px;
}



.red_b i
{
    text-align: center;
}
