.table
{
    border: 3px solid #47598F;
    background-color: #D7D7D7;
    width: 250px;
    min-height: 300px;
    float: left;
    margin: 5px;
    border-radius: 5px;
    font-size:1em;
    
}

.header
{
    width:1130px;
    margin:0px 0px 0px 150px;
    float:left;
    height:50px;
    background:#000;

}
.wrapper_t
{
    margin:0px 0px 0px 150px;
    float:left;
    width:1130px;
    min-height: 600px;
    background-color: #D7D7D7;
}

.menu
{
    /*display: inline-block;*/
    margin-right: 30px;
    width: 150px;
    margin:5px;
    float: left;
    height: 600px;
    background-color: #D7D7D7;
}
.wrapper
{

}